<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

  <article class="page">
  <div class="article-wrap">

      <p>Hi there!</p>

    <p>It's Talha. I am a Postdoctoral Researcher at the Ruhr University in Bochum, working with <a href="https://kevin.borgolte.me/">Kevin Borgolte</a>. My research interests lie at the intersection of <b>network measurement</b> and <b>security</b>.</p>

      <p>I am a recent Ph.D. in Computer Science graduate from Northeastern University in Boston, where I spent many happy years advised by <a href="https://david.choffnes.com/">David Choffnes</a>. I finished my undergrad at the National University of Sciences and Technology in Islamabad.
      </p>

      <p>My approach to research is to build novel measurement techniques, and to shed light on unexplored aspects of web protocols use that may impact security. My Ph.D. research focused on the security issues that stem from the diversity in TLS implementations and deployments. In the past, my work has uncovered issues with TLS adoption on the web (e.g., content differences), in mobile devices (e.g., inconsistent certificate pinning policies), and, in IoT devices (e.g., stale CA root stores).</p>

  <h2>Publications</h2>

    <p>
  Measurement Techniques to Understand How Diversity in TLS Implementations & Deployments Influences Protocol Security <br>
  <span style="font-size: .875rem">
     <i><u>Talha Paracha</u></i> <br>
  <i>Doctoral Dissertation</i> <br>
  [<a href="https://talhaparacha.com/talha_thesis_final.pdf">PDF</a>]
  </span>
    </p>

  <p>
  Behind the Scenes: Uncovering TLS and Server Certificate Practice of IoT Device Vendors in the Wild <br>
  <span style="font-size: .875rem">
        <i>Hongying Dong, Hao Shu, Vijay Prakash, Yizhe Zhang, <u>Talha Paracha</u>, David Choffnes, Santiago Torres-Arias, Danny Huang, Yixin Sun</i> <br>
  <i>Internet Measurement Conference (IMC) 2023</i> <br>
  [<a href="https://dl.acm.org/doi/pdf/10.1145/3618257.3624815">PDF</a>]
  </span>
  </p>

  <p>
  A Comparative Analysis of Certificate Pinning in Android & iOS <br>
  <span style="font-size: .875rem">
  <i>Amogh Pradeep*, <u>Talha Paracha*</u>, Protick Bhowmick, Ali Davanian, Abbas Razaghpanah, Taejoong Chung, Martina Lindorfer, Narseo Vallina, Dave Levin, David Choffnes</i> <br>
  <i>Internet Measurement Conference (IMC) 2022</i> <br>
  <i>*Equal contribution.</i> <br>
  [<a href="https://talhaparacha.com/cert-pinning.pdf">PDF</a>]
  </span>
  </p>

  <p>
  Respect the ORIGIN! A Best-case Evaluation of Connection Coalescing in The Wild <br>
  <span style="font-size: .875rem">
  <i>Sudheesh Singanamalla, <u>Talha Paracha</u>, Suleman Ahmad, Jonathan Hoyland, Luke Valenta, Yevgen Safronov, Peter Wu, Andrew Galloni, Kurtis Heimerl, Nick Sullivan, Christopher Wood, Marwan Fayed</i> <br>
  <i>Internet Measurement Conference (IMC) 2022</i> <br>
  [<a href="https://talhaparacha.com/connection-coalescing.pdf">PDF</a>]
  </span>
  </p>

  <p>
  IoTLS: Understanding TLS Usage in Consumer IoT Devices <br>
  <span style="font-size: .875rem">
  <i><u>Talha Paracha</u>, Daniel Dubois, Narseo Vallina, David Choffnes</i> <br>
  <i>Internet Measurement Conference (IMC) 2021</i> <br>
  [<a href="https://dspace.networks.imdea.org/bitstream/handle/20.500.12761/1516/imc2021-final133.pdf?sequence=1&isAllowed=y">PDF</a>]
  </span>
  </p>

  <p>Blocking without Breaking: Identification and Mitigation of Non-Essential IoT Traffic <br>
  <span style="font-size: .875rem">
  <i>Anna Maria, Daniel Dubois, Roman Kolcun, <u>Talha Paracha</u>, Hamed Haddadi, David Choffnes</i> <br>
  <i>Privacy Enhancing Technologies Symposium (PETS) 2021</i> <br>
  [<a href="https://arxiv.org/pdf/2105.05162">PDF</a>]
  </span>
  </p>

  <p>A Deeper Look at Web Content Availability and Consistency over HTTP/S <br>
  <span style="font-size: .875rem">
  <i><u>Talha Paracha</u>, Balakrishnan Chandrasekaran, David Choffnes, Dave Levin</i> <br>
  <i>Network Traffic Measurement and Analysis Conference (TMA) 2020</i> <br>
  [<a href="https://par.nsf.gov/servlets/purl/10170526">PDF</a>]
  </span>
  </p>

  <p>When Speakers Are All Ears: Characterizing Misactivations of IoT Smart Speakers <br>
  <span style="font-size: .875rem">
  <i>Daniel Dubois, Roman Kolcun, Anna Maria, <u>Talha Paracha</u>, David Choffnes, Hamed Haddadi</i> <br>
  <i>Privacy Enhancing Technologies Symposium (PETS) 2020</i> <br>
  [<a href="https://par.nsf.gov/servlets/purl/10192512">PDF</a>]
  </span>
  </p>

  </div>
 </article>

</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
